.Welcome {
  background-image: url('../images/backgound.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: Roboto;
}

.Projects {
  background-image: url('../images/keyboard.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100vh; */
  font-family: Roboto;
}

.AboutMe {
  background-color: #2f2d2d;
  /* height: 100vh; */
  font-family: Roboto;
}

.ContactMe {
  background-color: #000000;
  font-family: Roboto;
}

.menu {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 1;
}

.nameActive {
  margin-top: 8%;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #88f561;
  cursor: pointer;
  width: 80%;
}

.name {
  margin-top: 8%;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: white;
  cursor: pointer;
  width: 80%;
}

.hambuger {
  margin-top: 3%;
}

.hambuger > img {
  width: 80%;
  cursor: pointer;
}

.MenuBody {
  color: white;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  font-family: Roboto;
  width: 37%;
  height: 50px;
  border: none;
  border-radius: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
}

.title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.titleDescription {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #88f561;
}

.ProjectsBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProjectsCard {
  margin-top: 3%;
  margin-bottom: 3%;
}

.extraLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3%;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.extraIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ProfileImage {
  text-align: center;
}

.ProfileImg {
  border-radius: 50%;
  width: 50%;
  margin-top: 2%;
}

.AboutMeText {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  width: 90%;
}

.SkillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  margin-top: 3%;
}

.SkillsContainer > span {
  width: 90%;
  font-weight: bold;
  font-size: 16px;
}

.Skills {
  width: 80%;
}

.SkillsCard > span {
  font-weight: bold;
  font-size: 14px;
  color: #88f561;
}

.SkillsCard > ul {
  height: 10vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ContactsContainer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContactsContainer > hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #fff;
  margin: 1em 0;
  padding: 0;
}
.Copyright {
  color: #ffffff;
  text-align: center;
  position: relative;
}

.Copyright > img {
  width: 3%;
}

.Copyright > span {
  margin-left: 1%
}

.ContactsContainer > span {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  width: 90%;
}

.Contacts {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.Contacts > a > img {
  width: 12%;
}

.Contacts > p > img {
  width: 12%;
  margin-right: 2%;
}

.Contacts > p > span {
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
}

.ui.segment {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 25vh;
}

.ImageText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TextContainer {
  width: 90%;
  margin-top: 1%;
}

a {
  color: white;
}

.buttonContainer > a {
  width: 100%;
  text-align: center;
}

.optionsActive {
  font-size: 16px;
  font-weight: bold;
  color: #88f561;
}

@media (min-width: 500px) {
  .nameActive {
    margin-top: 5%;
    font-size: 18px;
  }
  .name {
    margin-top: 5%;
    font-size: 18px;
  }
  .Copyright > img {
    width: 1%;
  }
  .title {
    font-size: 18px;
  }
  .titleDescription {
    font-size: 16px;
  }
  .AboutMeText {
    font-size: 15px;
  }
  .SkillsCard > ul {
    font-size: 15px;
}
}

@media  (min-width: 600px) {
  .InTouch {
    font-size: 16px !important;
    margin-top: 1%;
  }
  .button {
    width: 29%;
  }
  .ProfileImg {
    width: 40%;
  }
  .Contacts > a > img {
    width: 10%;
  }
  
  .Contacts > p > img {
    width: 10%;;
  }
}

@media  (min-width: 768px) {
  .MenuOptionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:55%;
  }

  .MenuOptions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .MenuOptions > a {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .optionsActive {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #88f561;
  }

  .nameActive {
    margin-top: 40px;
    margin-bottom: 29px;
    width: 40%;
    font-size: 25px;
  }

  .name {
    margin-top: 40px;
    margin-bottom: 29px;
    width: 40%;
    font-size: 25px
  }
  .title {
    font-size: 30px;
  }
  .titleDescription {
    font-size: 25px;
  }
  .button {
    width: 190px;
    height: 50px;
    font-size: 19px;
  }
  .buttonContainer {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .ProjectsBody {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .ProfileImg {
    width: 300px;
  }
  .ImageText {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .TextContainer {
    width: 50%;
  }
  .AboutMeText {
    font-size: 20px;
    width: 100%;
    line-height: 25px;
  }
  
  .SkillsContainer > span {
    align-self: flex-end;
    font-size: 18px;
  }
  
  .Skills {
    width: 85%;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .SkillsCard {
    width: 325px;
    margin-top: 1%;
  }
  
  .SkillsCard > span {
    font-weight: bold;
    font-size: 16px;
    color: #88f561;
  }
  
  .SkillsCard > ul {
    height: 10vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 15px;
  }

  .InTouch {
    font-size: 20px !important;
  }

  .Contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 60%;
  }

  .Contacts > a {
    width: 30%;
  }

  .Contacts > p {
    width: 33%;
  }
  
  .Contacts > a > img {
    width: 40px;
    cursor: pointer;
  }
  
  .Contacts > p > img {
    width: 40px;
    cursor: pointer;
  }

  .buttonContainer > a {
    width: initial;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
